@model ITWEB_Mandatory5.ViewModels.CategoryController.CategoryIndexViewmodel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Category list";
}

@foreach (var item in Model.Categories)
{

    <label asp-for="@item.Name"></label>
    <p>@item.Name</p>

    <div>
        <h2>COMPONENT TYPES</h2>
        @foreach (var ComponentType in item.ComponentTypes)
        {
            <div>
                <h3>COMPONENT TYPES</h3>
                <label asp-for="@ComponentType.ComponentName"></label>
                <p>@ComponentType.ComponentName</p>
                <label asp-for="@ComponentType.ComponentInfo"></label>
                <p>@ComponentType.ComponentInfo</p>
                <label asp-for="@ComponentType.Datasheet"></label>
                <p>@ComponentType.Datasheet</p>
                <label asp-for="@ComponentType.Manufacturer"></label>
                <p>@ComponentType.Manufacturer</p>
                <label asp-for="@ComponentType.Location"></label>
                <p>@ComponentType.Location</p>
                <label asp-for="@ComponentType.Status"></label>
                <p>@ComponentType.Status</p>
                <label asp-for="@ComponentType.WikiLink"></label>
                <p>@ComponentType.WikiLink</p>
                <label asp-for="@ComponentType.AdminComment"></label>
                <p>@ComponentType.AdminComment</p>
            </div>
        }
    </div>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
        Create new category
    </button>

    <!-- Modal Category-->
    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" 
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Create new category
                    </h4>
                </div>
            
                <!-- Modal Body -->
                <div class="modal-body">
                
                    <form role="form">
                        <div class="form-group">
                            <label for="inputCategoryName">Category name</label>
                            <input type="text" class="form-control"
                                   id="inputCategoryName" placeholder="Enter category name"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>







    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
        Create new Component Type
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" 
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Create new Component Type
                    </h4>
                </div>
            
                <!-- Modal Body -->
                <div class="modal-body">
                
                    <form role="form">
                        <div class="form-group">
                            <label for="inputComponentName">Component Name</label>
                            <input type="text" class="form-control"
                                   id="inputComponentName" placeholder="Enter component name"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentInfo">Component Info</label>
                            <input type="text" class="form-control"
                                   id="inputComponentInfo" placeholder="Enter component info"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentLocation">Component Location</label>
                            <input type="text" class="form-control"
                                   id="inputComponentLocation" placeholder="Enter component Location"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentTypeStatusList">Component Type Status</label>
                            <select id="inputComponentTypeStatusList"></select>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentDatasheet">Component Datasheet</label>
                            <input type="text" class="form-control"
                                   id="inputComponentDatasheet" placeholder="Enter component datasheet"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentImageUrl">Component ImageUrl</label>
                            <input type="text" class="form-control"
                                   id="inputComponentImageUrl" placeholder="Enter component ImageUrl"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentManufacturer">Component Manufacturer</label>
                            <input type="text" class="form-control"
                                   id="inputComponentManufacturer" placeholder="Enter component Manufacturer"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentWikiLink">Component WikiLink</label>
                            <input type="text" class="form-control"
                                   id="inputComponentWikiLink" placeholder="Enter component WikiLink"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentAdminComment">Component Admin Comment</label>
                            <input type="text" class="form-control"
                                   id="inputComponentAdminComment" placeholder="Enter admin comment"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>










    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
        Create new Component
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" 
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Create new Component
                    </h4>
                </div>
            
                <!-- Modal Body -->
                <div class="modal-body">
                
                    <form role="form">
                        <div class="form-group">
                            <label for="inputComponentTypeList">Component Type</label>
                            <select id="inputComponentTypeList"></select>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentNumber">Component Number</label>
                            <input type="text" class="form-control"
                                   id="inputComponentNumber" placeholder="Enter component number"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentSerialNo">Component SerialNo</label>
                            <input type="text" class="form-control"
                                   id="inputComponentSerialNo" placeholder="Enter component SerialNo"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentStatusList">Component Status</label>
                            <select id="inputComponentStatusList"></select>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentAdminComment">Component Admin Comment</label>
                            <input type="text" class="form-control"
                                   id="inputComponentAdminComment" placeholder="Enter admin comment"/>
                        </div>
                        <div class="form-group">
                            <label for="inputComponentUserComment">Component User Comment</label>
                            <input type="text" class="form-control"
                                   id="inputComponentUserComment" placeholder="Enter user comment"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>







}


<script>
    var ComponentTypeStatusList = 0;     

    var sel = document.getElementById('inputComponentTypeStatusList');
    var fragment = document.createDocumentFragment();
    ComponentTypeStatusList.forEach(function (ComponentTypeStatus, index) {
        var opt = document.createElement('option');
        opt.innerHTML = ComponentTypeStatus;
        opt.value = ComponentTypeStatus;
        fragment.appendChild(opt);
    });
    sel.appendChild(fragment);
</script>



<script>
    var ComponentTypeList = 0;

    var sel = document.getElementById('inputComponentTypeList');
    var fragment = document.createDocumentFragment();
    ComponentTypeList.forEach(function (ComponentType, index) {
        var opt = document.createElement('option');
        opt.innerHTML = ComponentType;
        opt.value = ComponentType;
        fragment.appendChild(opt);
    });
    sel.appendChild(fragment);
</script>


<script>
    var ComponentStatusList = 0;

    var sel = document.getElementById('inputComponentStatusList');
    var fragment = document.createDocumentFragment();
    ComponentStatusList.forEach(function (ComponentStatus, index) {
        var opt = document.createElement('option');
        opt.innerHTML = ComponentStatus;
        opt.value = ComponentStatus;
        fragment.appendChild(opt);
    });
    sel.appendChild(fragment);
</script>