@model IEnumerable<ITWEB_Mandatory5.ViewModels.ComponentVM>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Component list";
}

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserComment)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminComment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserComment)
                </td>
                <td>
                    <button type="button" asp-controller="Component" asp-action="edit" class="btn btn-default">Edit</button>
                </td>
            </tr>
        }
    </table>
</div>